
html {
    color: rgb(0, 0, 0);
    font-size: 17px;
    padding: 10px;
    margin: 20px;
    background-image: url(./images/1.avif);
}

header {
    padding: 10px;
    margin: 20px;
}

.navbar {
    color: rgb(233, 214, 233);
    display: flex;
    justify-content: center;
background-color: rgb(203, 191, 214);
font-family: 'Times New Roman', Times, serif;
font-size: 30px;}

.navbar li {
    display: inline;
}

.navbar li a {
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 2px;
}

.navbar li a:hover {
    background-color: rgb(243, 243, 243);
}

.Home {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
   background-image: none; /* Remplacez par le chemin de votre image */
    background-size: cover; /* Couvre toute la zone de la section */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Évite la répétition de l'image */

}

.Home h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    background-color: rgb(203, 191, 214);

    

}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: none;
    border-radius: 8px;

}



.content img {
    margin-right: 20px;
    border-radius: 16rem;
    animation: moveImage 5s infinite alternate;
}

@keyframes moveImage {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(50px);
    }
}

.content p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 20px;
    flex: 1;
    text-align: center;
    background-color: #fff;
    border-radius: 4px;
    font-size: 1.5rem;
}

.Home h3 {
    display: none;
}
